.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(
    90deg,
    rgb(139, 207, 253) 0%,
    rgb(67, 45, 112) 100%
  );
}
.card h1,
h6 {
  color: white;
}
label {
  color: white;
}
