<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>please enter email and password</h6>
        </div>

        <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />

            <span class="text-danger">
              <span
                *ngIf="
                  loginForm.controls['password'].errors?.['required']"
              >
                *Please enter email
              </span>
            </span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="exampleInputPassword1"
            /><span class="text-danger">
              <span
                *ngIf="
                  loginForm.controls['password'].errors?.['required']"
              >
                *Please enter Password
              </span>
            </span>
          </div>

          <button
            type="submit"
            [disabled]="!loginForm.valid"
            class="btn btn-primary mb-2"
          >
            Login
          </button>
        </form>
        <a style="color: white; margin-top: 10px" routerLink="/signup"
          >New user?Click to signup</a
        >
      </div>
    </div>
  </div>
</div>
