<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>sign Up</h1>
          <h6>Register Yourself!!</h6>
        </div>
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Full Name</label
              >
              <input
                formControlName="fullname"
                type="text"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Full Name"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputNumber1" class="form-label"
                >Mobile Number</label
              >
              <input
                formControlName="mobile"
                type="Number"
                class="form-control"
                id="exampleInputNumber1"
                placeholder="Phone Number"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="mail id"
              />

              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>

            <button type="submit" class="btn btn-primary mb-2">Sign up</button>
          </form>
          <a style="color: white; margin-top: 10px" routerLink="/login"
            >allready registerd?Click to Login</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
